{% extends "base.html" %}
{% block title %} forsíða {% endblock %}
{% block content %}
    {% set oneco = [] %}
    {% for item in gogn["results"] %}
        {% if item.company not in oneco %}
            {% do oneco.append(item.company) %}
            <div class="box">
                <a href="/company/{{ item .company }}">
                <img src="static/{{ item.company }}.png" title="{{ item.company }}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
        <p>síðast uppfært: {{ gogn.timestampApis | format_time }}</p>
        </main>
        <hr>
        <div>
            <h2>Besta verðið</h2>
            <h4>Ódýrasta bensínverðið: {{ minP[0]}} er hjá {{ minP[1]}}, {{ minP[2]}} </h4>
            
        </div>
{% endblock %}